li {
    display: inline;
    padding: 20px;
    border: 1px black solid;
    background-color: lightgoldenrodyellow;
    
}

.menu {
    margin-bottom: 30px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.marca {
    display: none;
    position: absolute;
    left: 10%;
    top: 30%;
    font-size: 100px;
    color: rgba(255, 99, 71, 0.3);
    z-index: -1;
    transform: rotate(-45deg);
}


@media screen and (max-width: 900px) {
    li {
        display: block;
        width: 70px;
        
    }
    .menu {
        float: left;
        margin-right: 30px;
    }
}

@media print {
    .menu {
        display: none;
    }

    .marca {
        display: block;
    }
}

@page { 
    size: auto;  margin: 10px; 
}